//fonts
$main: "Montserrat", sans-serif;

//colors
$white: rgb(255, 255, 255);
$grey-dark: rgb(34, 34, 34);
$grey-medium: rgb(163, 163, 163);
$grey-translucid: rgba(42, 42, 42, .05);
$lime: rgb(236, 255, 160);
$purple: rgb(136, 130, 238);

//media queries
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1200px;